.footer{
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(10, 6, 29);
    color: white;
}

.footercontainer{
    width: 60%;
    height: 150px;
    display: flex;
    margin-top: 10px;
    min-width: 400px;
}

.roclabox{
    width:43%;
    margin: 0px 1%;
}

.roclaTitle{
    font-size: calc(12px + 1vw);
    font-family: 'Arvo', serif;
    font-weight: 700;
    /* color: rgb(0, 0, 0); */
    margin-bottom: 10px;
}

.roclaInfo{
    font-size: calc(7px + 0.6vw);;
    font-family: 'Arvo', serif;
    /* color: rgb(0, 0, 0); */
    line-height: 25px;
    
}

.roclaInfo p{
    display: flex;
    align-items: center;
    
}

.footer-email{
    padding-right: 10px;
    justify-content: center;
}

.box{
    width: fit;
    margin: 0px 3%;
    justify-content: center;
}

.title{
    font-size: calc(12px + 1vw);
    font-family: 'Arvo', serif;
    font-weight: 500;
    /* color: rgb(0, 0, 0); */
    margin-bottom: 10px;

}

.footerbutton{
    justify-content: center;
    display: block;
    font-size: calc(7px + 0.6vw);;
    font-family: 'Arvo', serif;
    color: white;
    margin: 15px 0px;
    text-decoration: underline rgb(255, 255, 255);    
}

.footerbutton :hover{
    color: rgb(247, 201, 133);;
    text-decoration: underline rgb(255, 255, 255);
}