.picture{
    display: flex;
    height:750px;
    background-image: url("kike-veg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    align-items: center;
    text-align: center;
    justify-content: center;
    position: relative;
}

.rocla{
    font-size: 80px;
    font-weight: bold;
    font-style: italic;
    font-family: 'Arvo', serif;
    color: white;
}

.sub{
    font-size: 70px;
}

.wave {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    transform: rotate(180deg);
}

.wave svg {
    position: relative;
    display: block;
    width: calc(104% + 1.3px);
    height: 262px;
}

.wave .shape-fill {
    fill: #FFFFFF;
}

.about{
    margin-top: 50px;
    display: flex;
    height: 550px;
    align-items: center;
    justify-content: center;
}

.aboutBox{
    width: 60%;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 50px 3%;
    border-radius: 10px;
}

.aboutTitle{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 50px;
    font-weight: 600;
    width: 80%;
    justify-content: center;
    border-bottom: solid 2px rgb(107, 106, 106);
    font-family: 'Arvo', serif;
}

.aboutInfoBox{
    display: flex;
    padding-bottom: 10px;
}

.aboutInfo{

    font-size: 18px;
    width: 100%;
    margin-left: 0%;
    float: left;
    line-height: 35px;
    font-family: 'Arvo', serif;
    text-align: center;
}

.aboutPicture{
    justify-content: center;
    width: 40%;
    margin-left: 5%;
    background-image: url("sammy-williams.jpg");
    height: 250px;
    background-size: cover;
    border-radius: 5px;
}

.aboutButton{
    display: inline-block;
    border-radius: 20px;
    background-color: #303b7c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px;
    padding: 10px;
    width: 40%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 20px;
    font-family: 'Arvo', serif;
    margin-left: 30%;
    margin-right: 30%;
    
}


.aboutButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .aboutButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .aboutButton:hover span {
    padding-right: 25px;
  }
  
  .aboutButton:hover span:after {
    opacity: 1;
    right: 0;
  }


.custom-shape-divider-top-1636307013 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1636307013 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 181px;
}

.custom-shape-divider-top-1636307013 .shape-fill {
    fill: #FFFFFF;
}

.procedures{
    margin-top: 10px;
    display: flex;
    height: 950px;
    align-items: center;
    justify-content: center;
    background-color: #303b7c;
    position: relative;
}

.proceduresBox{
    width: 65%;
    background-color: #ffffff;
    box-shadow: 0px 10px 20px 1px rgba(0, 0, 0, 0.2);
    padding: 50px 1%;
    border-radius: 20px;
    height: 620px;
    margin-top: 100px;
}

.proceduresTitle{
    display: flex;
    padding-bottom: 5px;
    margin-bottom: 25px;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 40px;
    font-weight: 600;
    width: 80%;
    justify-content: center;
    border-bottom: solid 2px rgb(107, 106, 106);
    font-family: 'Arvo', serif;
}

.proceduresList{
    display: flex;
}

.procedureContainer{
    width: 31%;
    margin: 0px 1.166666%;
    background-color: #ffffff;
    padding: 5px 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 10px 2px rgba(77, 76, 76, 0.342);
    transition: 0.5s;
    
}

.procedureContainer:hover{
    background-color: #cccbf8;
    width: 40%;
    padding: 10px 15px;
    box-shadow: 0px 10px 20px 2px rgba(77, 76, 76, 0.342);

}

.procedureImg{
    background-image: url("mika-baumeister-unsplash.jpg");
    background-position: center;
    height:320px;
    background-size: cover;
    border-radius: 10px;
    color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 35px;
    font-family: 'Arvo', serif;
    font-weight: 600;
    text-align: center;
    margin: 0px 5px;
    margin-top: 5px;
}

.skinTight{
    background-image: url("jennifer-burk-unsplash.jpg");
}

.procedure{
    margin: 10px 15px;
    margin-top: 15px;
    font-size: 16px;
    font-family: 'Arvo', serif;
    line-height: 20px;
    height: 100px;
    word-spacing: 5px;
    text-align: center;
}

.procedureButton{
    display: inline-block;
    border-radius: 10px;
    background-color: #303b7c;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    width: 80%;
    margin: 10px 10%;
    transition: all 0.5s;
    cursor: pointer;
    margin-top: 25px;
    font-family: 'Arvo', serif;
}


.procedureButton span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .procedureButton span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
  }
  
  .procedureButton:hover span {
    padding-right: 25px;
  }
  
  .procedureButton:hover span:after {
    opacity: 1;
    right: 0;
  }


.surgeon{
    display: flex;
    height: 950px;
    align-items: center;
    justify-content: center;
    background-color: #080b1a;
    position: relative;

}