.procedurestab{
    height: fit-content;
    margin-top: 70px;
    display: inline-block;
    background-color: rgb(255, 255, 255);

}

.procedurestabcontainer{
    width: 60%;
    margin: 0px 20%;
    margin-left: 20%;
    margin-right: 20%;
    margin-top: 5px;
    height: fit-content;
    padding: 10px;
    border-radius: 2px;
    display: inline-flex;
    margin-bottom: 50px;
}

.procedurestabType{
    display: inline-flex;
    font-size: 80px;
    width: 100%;
    justify-content: center;
    font-family: 'Arvo', serif;
    font-weight: 700;
    margin-top: 20px;
    margin-bottom: 50px;
}

.procedurestabcontainer2{
    display: inline;
    width: 45%;
    margin-right: 5%;
}

.procedurestabtitle{
    display: flex;
    font-size: 40px;
    font-family: 'Arvo', serif;
    font-weight: 700;
    margin-bottom: 20px;
}

.procedurestabinfo{
    margin-top: 10px;
    font-size: 18px;
    justify-content: center;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    line-height: 30px;
}

.procedurestabimg{
    height: 330px;
    width: 50%;
    background-image: url("./Pictures/sam-moqadam-unsplash.jpg");
    background-size: cover;
    border-radius: 5px;
    min-width: none;
}

@media screen and (max-width: 900px) {
    .procedurestabimg {
      width: 0%;
    }
    .procedurestabcontainer2{
        display: inline;
        width: 100%;
    }
  }

.full{
    width: 100%;
}

/* .procedurestabfloat{
    width: 50%;
    display: inline-grid;
    grid-template-columns: auto auto;
    background-color: aqua;
} */


